In [5]:
import numpy as np
import pandas as pd

In [7]:
lst = ["om", 'ck', 'dg', 'Lv']
new_lst = pd.Series(lst)
new_lst

0    om
1    ck
2    dg
3    Lv
dtype: object

In [11]:
print(new_lst[3])

Lv

In [14]:
a = pd.Series(lst, index=['a', 'b', 'c', 'd'])
a

a    om
b    ck
c    dg
d    Lv
dtype: object

In [19]:
cal = {1 : "Monday", 2: "Tuesday", 3 : "Wednesday", 4 : "Thuresday"}
print(type(cal))
var = pd.Series(cal)
print(type(var))
var

<class 'dict'>
<class 'pandas.core.series.Series'>

1       Monday
2      Tuesday
3    Wednesday
4    Thuresday
dtype: object

In [21]:
print(var[3])

Wednesday

In [23]:
om = {"cal": [12,13,14], "duration": [50,60,70]}
pd.DataFrame(om)

   cal  duration
0   12        50
1   13        60
2   14        70

In [30]:
res = pd.DataFrame(om, index=(1,2,3))
print(res)

   cal  duration
1   12        50
2   13        60
3   14        70

In [36]:
print(res.loc[1])

cal         12
duration    50
Name: 1, dtype: int64

In [41]:
print(res.loc[[1,2,3]])

   cal  duration
1   12        50
2   13        60
3   14        70

In [6]:
data = {"Cal": [420, 390, 380],
        "Dur": [50, 40, 45]}
result = pd.DataFrame(data, index=("Day1", "Day2", "Day3"))
print(result)

      Cal  Dur
Day1  420   50
Day2  390   40
Day3  380   45

In [7]:
print(result.loc[["Day1", "Day2"]])

      Cal  Dur
Day1  420   50
Day2  390   40

In [8]:
print(result.loc["Day1"])

Cal    420
Dur     50
Name: Day1, dtype: int64